<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body >
<h1><b style="color: #d64747;">HELLO EVERYONE WELCOME TO ANGULAR</b> </h1>
<!-- <app-binding></app-binding> -->
<!-- <app-directives></app-directives> -->
<app-reactiveform></app-reactiveform>
<!-- <app-pipes></app-pipes> -->
<!-- <app-lifecycle></app-lifecycle> -->
<!-- <app-service-data></app-service-data> -->
<!-- <app-reactiveform2></app-reactiveform2> -->
<!-- <app-rxjsop></app-rxjsop> -->
<!-- <app-promise></app-promise> -->
<!-- <app-livecoding></app-livecoding> -->
<!-- <app-test1></app-test1> -->
</body>
</html>