<br>
<h1 style="background-color:lightblue; text-align: center;" >Welcome To Data Binding Example</h1>
<br>
    <!-- <h3>{{sampname}}</h3><br> -->
    


<!-- <a [href]="link" class="btn-link">Property Or Attribute Binding Output</a> <br><br> -->

<!-- <button class="btn"(click)="clickevent()">Event Binding Output</button> <br><br> -->

<h2>Two Way data Binding Output</h2><br>
Please Enter Your Name: <input type="text" name="fullName"[(ngModel)]="fullname"> <br><br>
 <em>Your Name is -</em> {{fullname}}
